-
	data = [
		{
			surname: 'Васильев',
			name: 'Семен',
			qualityOne: null,
			qualityTwo: false
		},
		{
			surname: 'Антонов',
			name: 'Денис',
			qualityOne: 1,
			qualityTwo: 0
		},
		{
			surname: 'Иванов',
			name: 'Кузьма',
			qualityOne: 0,
			qualityTwo: 1
		},
		{
			surname: 'Кузьмина',
			name: 'Виктория',
			qualityOne: 1,
			qualityTwo: 1
		},
		{
			surname: '',
			name: 'Дмитрий',
			qualityOne: 0,
			qualityTwo: 0
		},
		{
			surname: '',
			name: '',
			qualityOne: 0,
			qualityTwo: 0
		}
	]

.page--home
	h1.align--center.ff-TTRunsTrial--normal-400 #[span Тестовое задание по работе с JavaScript]

	form#table-form(action="" method="get")
		//- table
		//- 	thead
		//- 		tr
		//- 			td Фамилия
		//- 			td Имя
		//- 			td Оценка 1
		//- 			td Оценка 2
		//- 	tbody
		//- 		tr
		//- 			td
		//- 				input.surname(type="text", name="")
		//- 			td
		//- 				input.name(type="text", name="")
		//- 			td
		//- 				select.evaluate-1(name="")
		//- 					option(value="") 
		//- 					option(value="1") да
		//- 					option(value="0") нет
		//- 			td
		//- 				select.evaluate-2(name="")
		//- 					option(value="") 
		//- 					option(value="1") да
		//- 					option(value="0") нет

		//- br

		.grid
			.grid-cell.grid-cell--head Фамилия
			.grid-cell.grid-cell--head Имя
			.grid-cell.grid-cell--head Оценка 1
			.grid-cell.grid-cell--head Оценка 2

			//- .grid-cell
			//- 	input.surname(type="text", name="Васильев")
			//- .grid-cell
			//- 	input.name(type="text", name="Семен")
			//- .grid-cell
			//- 	select.quality-1(name="")
			//- 		option(value="") 
			//- 		option(value="1") да
			//- 		option(value="0") нет
			//- .grid-cell
			//- 	select.quality-2(name="")
			//- 		option(value="") 
			//- 		option(value="1") да
			//- 		option(value="0") нет

			each val, key in data
				.grid-cell
					input.surname(type="text" name="surname" value=val.surname)
				.grid-cell
					input.name(type="text" name="name" value=val.name)
				.grid-cell
					select.quality-1(name="quality-1")
						option(value="") 
						option(value="1" selected=val.qualityOne ? 'selected' : null) да
						option(value="0" selected=val.qualityOne ? null : 'selected') нет
				.grid-cell
					select.quality-2(name="quality-2")
						option(value="") 
						option(value="1" selected=val.qualityTwo ? 'selected' : null) да
						option(value="0" selected=val.qualityTwo ? null : 'selected') нет

	.table-controller
		input#counter(type="number" min="1" max="50" value="1")
		button#adder(type="button") Добавить строки
